.nav--wrapper {
  box-sizing: border-box;
  box-shadow: 1px 5px 8px 0px #f2f2f2cc;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 56px;
  width: 100%;
  padding: 0 1rem;
  .logo {
    height: 2rem;
  }
}

.hero--wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  padding: 3rem 12%;
  .image {
    width: 100%;
  }
  .desc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    .title {
      font-size: 36px;
      font-weight: 600;
      line-height: 40px;
    }
    .text {
      width: 50%;
    }
  }
}
